@font-face {
    font-family: "OpenSans";
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "bebaneue";
    src: url(/fonts/BebasNeue-Regular.ttf);
}

html{
    font-family: "OpenSans", arial, sans-serif;
}

header{
    margin-block-end: 10rem;
}

h1{
    font-family: "bebaneue", arial, sans-serif;
}

body{
    background-color: cyan;
}

li:last-child{
    background-color: white;
}

article{
    float: left ;
    width: 45%;
}




div{
    float: right;
    width: 45%;
}

div p{
    color: deeppink;
}